<h1>Listing entries</h1>

<table cellpadding="10">
  <tr>
    <th>Date</th>
    <th>Follower count</th>
    <th>Recent unfollows</th>
    <th>Recent follows</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.date %></td>
    <td><%= entry.followers_ary.count %></td>
    <td><%= entry.recently_unfollowed.join(", ") %></td>
    <% prev = Entry.find_by_id(entry.id - 1) %> <% if prev.nil? %><td></td><% else %>
    <% x = prev.followers_ary + entry.followers_ary; x.uniq! %>
    <% x = x - entry.recently_unfollowed - prev.followers_ary  %>
    <td><strong><%= x.join(", ")  %></strong></td><% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
