<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Followers ary:</b>
  <%= @entry.followers_ary %>
</p>

<p>
  <b>Recently unfollowed:</b>
  <%= @entry.recently_unfollowed %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
